n8n/workflows/due_date_reminders.json
{
  "name": "1. Due Date Reminders",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "http://api:8000/api/v1/tasks/due-soon",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "replace-with-a-shared-secret"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Due Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [200, 0]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.assignee.email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "IF Assignee Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [600, 0]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.assignee.email }}",
        "subject": "=Reminder: Task '{{ $json.title }}' is due soon",
        "message": "=Hi {{ $json.assignee.name }},<br><br>Just a reminder that your task '{{ $json.title }}' is due on {{ $json.due_date }}.<br><br>Priority: {{ $json.priority }}<br><br>Please ensure it is completed on time.<br><br>Best,<br>Smart Task Manager",
        "options": {}
      },
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [800, -100]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Due Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Due Tasks": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "IF Assignee Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Assignee Exists": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
