n8n/workflows/recurring_task_generation.json
{
  "name": "3. Recurring Task Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/v1/recurring/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "replace-with-a-shared-secret"
            }
          ]
        },
        "options": {}
      },
      "name": "Generate Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [200, 0]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.assignee.email }}",
        "subject": "=Recurring Task Generated: {{ $json.title }}",
        "message": "=Hi {{ $json.assignee.name }},<br><br>A new recurring task '{{ $json.title }}' has been generated for you.<br><br>Best,<br>Smart Task Manager",
        "options": {}
      },
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [600, 0]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Generate Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Tasks": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
